<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quest.js - my journey to JS</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <!-- HTML5 Shiv -->
    <!--[if lt IE 9]>
    <script src="bower_components/html5shiv/html5shiv.js"></script>
    <![endif]-->

    <!-- Typekit -->
    <script type="text/javascript" src="//use.typekit.net/wmm6tiy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
