/**
 * Typographic Styles for QuestJS
 * @author Jogga <joachim@froestl.com>
 */


/* font stacks */
$qst-fnt-serif: Georgia, serif;
$qst-fnt-sans: "depot-new-web", sans-serif;
$qst-fnt-mono: Monaco, monospace;


/* base font */
body {
    font: {
        size: 18px;
        family: $qst-fnt-sans;
        weight: 400;
    }
    -webkit-font-smoothing: antialiased;
    line-height: 1.4em;
}


/* Code Display Styles*/
pre, code {
    font: {
        family: $qst-fnt-mono;
        size: 16px;
    }
}


code {

}


/* Headline Styles */
h1, h2, h3, h4, h5, h6 {
    font: {
        family: $qst-fnt-sans;
        weight: 700;
    }
    line-height: 1em;
}

h1 {
    text-align: center;
    font: {
        size: 40px;
    }
}

h2 {
    margin: {
        top: 40px;
    }
}


/* Link Styles */
a {
    -webkit-font-smoothing: antialiased;
    color: $qst-clr-blue;
    text-decoration: none;

    &:hover {
        color: $qst-clr-red;
    }
}


/* List Styles */
ul {
    padding: {
        left: 20px;
        right: 0;
    }
    margin: {
        left: 0;
        right: 0;
    }
    li {
        list-style-type: disc;
    }
}
