/**
 * Colors for QuestJS
 * @author Jogga <joachim@froestl.com>
 */

$qst-clr-white: #fefefe;
$qst-clr-black: #333;
$qst-clr-grey: #ddd;
$qst-clr-grey-lgt: #f3f3f3;
$qst-clr-blue: #3B6DD1;
$qst-clr-blue-drk: #1C427F;
$qst-clr-blue-lgt: #B8CEF2;
$qst-clr-red: #E86542;

