<!DOCTYPE html>
<html>
{% include head %}

<body class="qst-page-index">
{% include page.header %}

<main>
<h1>My journey into the world of Java&nbsp;Script.</h1>
<p>This Blog will accompany me while learn to code Java&nbsp;Script. Following the idea that I would best make sense of it, if I write my learnings down.</p>
<p>I'm a beginner, so my postings and code examples will contain bugs, errors, or misconceptions. Please point them out!</p>


<ul class="qst-post-list">
{{ indexLinks }}
</ul>

</main>

{% include page.footer %}
</body>
</html>
